*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 1rem;
}


.navbar{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
}
 .navbar-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.nav-logo{
    font-weight: 800px;
    font-size: 1.2rem;
}

.highlight {
  background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}


.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.primary-button{
    width: 135px;
    height: 44px;
    background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
}
#hamburger{
    display: none;
    cursor: pointer;
}






.banner{
    width: 100%;
    min-height: 760px;
    background-image: url(../B13-A02-TechWave/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


.banner-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.hero-visual{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-visual::before{
    content: "";
    position: absolute;
    width: 115%;
    height: 115%;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(251, 9, 180, 0.35),
        transparent 70%
    );
    animation: glowRotate 8s linear infinite;
}


.hero-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out;
    filter: drop-shadow(0 0 35px rgba(180, 0, 255, 0.6));
}



.hero-mic{
    position: absolute;
    width: 120px;
    animation: floatMic 4s ease-in-out infinite;
}


.badge-new{
    position: absolute;
    top: 8px;
    right: 12px;
    background: #00FF88;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 2;
    animation: pop 2s infinite;
}



.banner-content{
    text-align: center;
    max-width: 620px;
}

.banner-content h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.banner-content p{
    font-size: 1rem;
    opacity: 0.85;
    margin-bottom: 24px;
}


.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-primary{
    padding: 12px 26px;
    border-radius: 30px;
    background: linear-gradient(90deg,#f7e93f,#fb09b4,#9100f8);
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    padding: 12px 26px;
    border-radius: 30px;
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 8px;
}

/*Animations*/

@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.05); }
    100%{ transform: scale(1); }
}

@keyframes floatMic{
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-8px); }
    100%{ transform: translateY(0); }
}

@keyframes pop{
    0%,100%{ transform: scale(1); }
    50%{ transform: scale(1.15); }
}

@keyframes glowRotate{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

/* about section */
.about{
    width: 100%;
    background-color: rgba(26, 11, 46, 1);

}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 24px 120px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-content{
     max-width: 780px;
     text-align: center;
}

.about-content h1{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}
.para-one{
    font-size: 0.95rem;
    line-height: 1.8;
    opacity: 0.85;
    margin-bottom: 24px;
}
.para-two{
    font-size: 0.9rem;
    opacity: 0.75;
}

.about-line {
  width: 100%; 
  height: 1px;
  margin: 80px 0;
  background: rgba(255, 255, 255, 0.15);
}

.about-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;
}

.item h1{
    font-size: 2.2rem;
    font-weight: 800;
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}
.item p{
    font-size: 0.75rem;
    letter-spacing: 1px;
    opacity: 0.7;
}



/* responsiveness */


@media screen and (max-width: 576px){
   /* for navbar */
    .navbar{
        height: 70px;
    }
    .navbar-container{
        padding: 0 20px;
    } 
    .menu,
    #Subscribe-button {
        display: none;
    }
    #hamburger{
        display: block;
    }
    .nav-logo h1{
        font-size: 1.8rem;
    }
    /* end of navbar */

    /* for banner */
    .banner{
    width: 100%;
    min-height: 466px;
}
     .banner-container{
    width: 100%;
    max-width: 576px;
    gap: 24px;
}
   .hero-visual{
    width: 250px;
    height: 250px;
    margin-top: 40px;

}
.hero-mic{
    width: 70px;
    padding: 60px;
    
    
}
.banner-buttons{
    margin-bottom: 40px;
    
}
/* end of banner */

/* about section */

.about-item{
    
    grid-template-columns: repeat(2, 1fr);
}


}
    @media screen and (min-width: 576px) and (max-width: 992px){

    .navbar{
        height: 80px;
    }

    .navbar-container{
        padding: 0 60px;  
    }

    .nav-logo h1{
        font-size: 1.8rem;
    }
    .menu{
        gap: 20px;
    }

    .menu a{
        font-size: 0.95rem;
    }
    .primary-button{
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
    }
    #hamburger{
        display: none;
    }
}
