*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 1rem;
}


.navbar{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
}
 .navbar-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.nav-logo{
    font-weight: 800px;
    font-size: 1.2rem;
}

.highlight {
  background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}


.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    display: inline-block;      
    transition: transform 0.25s ease, color 0.25s ease;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
 .menu a:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    transition: all 0.25s ease;
}
.primary-button{
    width: 135px;
    height: 44px;
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    cursor: pointer;

    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        filter 0.3s ease;
}

.primary-button:hover{
    transform: translateY(-3px) scale(1.03);
    box-shadow: 
        0 12px 25px rgba(145, 0, 248, 0.35),
        0 0 15px rgba(251, 9, 180, 0.4);
    filter: brightness(1.1);
}
 .primary-button:active{
    transform: translateY(0) scale(0.98);
    box-shadow: 0 6px 15px rgba(145, 0, 248, 0.3);
}
#hamburger{
    display: none;
    cursor: pointer;
}






.banner{
    width: 100%;
    min-height: 760px;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


.banner-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.hero-visual{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-visual::before{
    content: "";
    position: absolute;
    width: 115%;
    height: 115%;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(251, 9, 180, 0.35),
        transparent 70%
    );
    animation: glowRotate 8s linear infinite;
}


.hero-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out;
    filter: drop-shadow(0 0 35px rgba(180, 0, 255, 0.6));
}



.hero-mic{
    position: absolute;
    width: 120px;
    animation: floatMic 4s ease-in-out infinite;
}


.badge-new{
    position: absolute;
    top: 8px;
    right: 12px;
    background: #00FF88;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 20px;
    z-index: 2;
    animation: pop 2s infinite;
}



.banner-content{
    text-align: center;
    max-width: 620px;
}

.banner-content h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.banner-content p{
    font-size: 1rem;
    opacity: 0.85;
    margin-bottom: 24px;
}


.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-primary{
    padding: 12px 26px;
    border-radius: 30px;
    background: linear-gradient(90deg,#f7e93f,#fb09b4,#9100f8);
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    padding: 12px 26px;
    border-radius: 30px;
    border: 1px solid #00FF88;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-primary:hover,
.btn-secondary:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    transition: all 0.25s ease;
}


@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.05); }
    100%{ transform: scale(1); }
}

@keyframes floatMic{
    0%{ transform: translateY(0); }
    50%{ transform: translateY(-8px); }
    100%{ transform: translateY(0); }
}

@keyframes pop{
    0%,100%{ transform: scale(1); }
    50%{ transform: scale(1.15); }
}

@keyframes glowRotate{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

/* about section */
.about{
    width: 100%;
    background-color: rgba(26, 11, 46, 1);

}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 24px 120px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-content{
     max-width: 780px;
     text-align: center;
}

.about-content h1{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}
.para-one{
    font-size: 0.95rem;
    line-height: 1.8;
    opacity: 0.85;
    margin-bottom: 24px;
}
.para-two{
    font-size: 0.9rem;
    opacity: 0.75;
}

.about-line {
  width: 100%; 
  height: 1px;
  margin: 80px 0;
  background: rgba(255, 255, 255, 0.15);
}

.about-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;
}

.item h1{
    font-size: 2.2rem;
    font-weight: 800;
    color: #00FF88;
    text-align: center;
    margin-bottom: 16px;
}
.item p{
    font-size: 0.75rem;
    letter-spacing: 1px;
    opacity: 0.7;
}
/* end of about section */

/* why choose section */
.why-choose{
    width: 100%;
    background-color: rgba(35, 14, 61, 1);
}

.why-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 120px 200px 120px 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.why-container h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
}


.card-container{
    width: 100%;
    display: grid;

    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    gap: 30px;
}


.card-container > div{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 18px;
    padding: 28px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}



#card-01{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}


#card-02{
    grid-column: 2 / span 2;
    grid-row: 1;
}

#card-03{
    grid-column: 2 / span 2;
    grid-row: 2;
}


#card-04{
    grid-column: 1/ span 2;
    grid-row: 3;
}

#card-05{
    grid-column: 3 / span 1;
    grid-row: 3;
}


.card-container img{
    width: 36px;
}

.card-container h3{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.card-container p{
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255,255,255,0.7);
}
/* end of why-choose section */

/* feature-host */

.feature-host {
  width: 100%;
  background: linear-gradient(180deg, #1a0b2e, #12071f);
}

.feature-host-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}


.section-title {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 40px;
}

.feature-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.feature-card {
  background: #22103a;
  border-radius: 18px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 14px;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.feature-card h3 {
  color: #fff;
  font-size: 18px;
}

.feature-card p {
  color: #cfc7e2;
  font-size: 14px;
  line-height: 1.6;
}


.duration {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: auto;
  color: #00ff9c;
  font-size: 13px;
}

.duration img {
  width: 16px;
}

.host-card {
  background: #22103a;
  border-radius: 22px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.host-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.host-content h3{
    font-size: 2.1rem;
    margin-bottom: 16px;
}


.socials {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.socials a {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img {
  width: 16px;
}
/* end of feature host section */

/* Footer */
.footer-section {
    background-image: url(B13-A02-TechWave/assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 320px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
}

.footer-content {
    text-align: center;
    color: #ffffff;
}


.footer-title h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 32px;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #d1d5db;
    text-decoration: none;
    font-size: 14px;

    transition: color 0.3s ease;
}

.footer-link img {
    width: 18px;
    height: 18px;
}

.footer-link:hover {
    color: #ffffff;
}


.footer-copyright small {
    font-size: 13px;
    color: #9ca3af;
}





/* responsiveness */


@media screen and (max-width: 576px){
   /* for navbar */
    .navbar{
        height: 70px;
    }
    .navbar-container{
        padding: 0 20px;
    } 
    .menu,
    #Subscribe-button {
        display: none;
    }
    #hamburger{
        display: block;
    }
    .nav-logo h1{
        font-size: 1.8rem;
    }
    /* end of navbar */

    /* for banner */
    .banner{
    width: 100%;
    min-height: 466px;
}
     .banner-container{
    width: 100%;
    max-width: 576px;
    gap: 24px;
}
   .hero-visual{
    width: 250px;
    height: 250px;
    margin-top: 40px;

}
.hero-mic{
    width: 70px;
    padding: 60px;
    
    
}
.banner-buttons{
    margin-bottom: 40px;
    
}
/* end of banner */

/* about section */

.about-item{
    
    grid-template-columns: repeat(2, 1fr);
}
/* end of about section */


/* why-choose section */
.why-choose{
    padding-top: 40px;
}
  .why-container{
        padding: 0 20px;
    }
.card-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 40px;
    }

    
    #card-01,
    #card-02,
    #card-03,
    #card-04,
    #card-05{
        grid-column: auto;
        grid-row: auto;
    }
   /* end of why-choose section */
 
   /* feature-host section */
   

  
  .feature-card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  
  .host-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 24px;
    gap: 20px;
  }

  .host-img img {
    width: 140px;
    height: 140px;
  }

  .host-content h3 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .host-content p {
    font-size: 14px;
    line-height: 1.7;
    max-width: 100%;
  }

  .socials {
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
  }

  .socials a {
    width: 36px;
    height: 36px;
  }

  .socials img {
    width: 16px;
  }
/* footer */
    .footer-container {
        max-width: 360px;      
        margin: 0 auto;
        padding: 0 20px;       
    }
    .footer-title h1 {
        font-size: 2.5rem;     
        line-height: 1.15;
        margin-bottom: 24px;   
    }

    .footer-links {
        flex-wrap: wrap;
        margin-bottom:24px
        }

    .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;              
        font-size: 0.875rem;      
        opacity: 0.85;
    }


    .footer-copyright small {
        font-size: 1rem; 
        font-weight: 400;
        opacity: 0.65;
        line-height: 1.5;
    }
 
}
    @media screen and (min-width: 576px) and (max-width: 992px){

    .navbar{
        height: 80px;
    }

    .navbar-container{
        padding: 0 60px;  
    }

    .nav-logo h1{
        font-size: 1.8rem;
    }
    .menu{
        gap: 20px;
    }

    .menu a{
        font-size: 0.95rem;
    }
    .primary-button{
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
    }
    #hamburger{
        display: none;
    }
}
