*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-size: 1rem;
}
.navbar{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
}
 .navbar-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.nav-logo{
    font-weight: 800px;
    font-size: 1.2rem;
}

.highlight {
  background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.primary-button{
    width: 135px;
    height: 44px;
    background: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
}
#hamburger{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 576px){

    .navbar{
        height: 70px;
    }

    .navbar-container{
        padding: 0 20px;
    }

    
    .menu,
    #Subscribe-button {
        display: none;
    }


    #hamburger{
        display: block;
    }

    
    .nav-logo h1{
        font-size: 1.8rem;
    }
}

    @media screen and (min-width: 576px) and (max-width: 992px){

    .navbar{
        height: 80px;
    }

    .navbar-container{
        padding: 0 60px;  
    }

    .nav-logo h1{
        font-size: 1.8rem;
    }
    .menu{
        gap: 20px;
    }

    .menu a{
        font-size: 0.95rem;
    }
    .primary-button{
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
    }
    #hamburger{
        display: none;
    }
}








